{% extends 'base.html.twig' %}


{% block body %}
    <section id="other-section" class="my-5">
        {{ include('other/_animations.html.twig') }}
{#        {{ include('other/_navbars.html.twig') }}#}
{#        {{ include('other/_navbars_big_dropdown.html.twig') }}#}
{#        {{ include('other/_navbars_side.html.twig') }}#}
{#        {{ include('other/_carousels.html.twig') }}#}
{#        {{ include('other/_links.html.twig') }}#}
{#        {{ include('other/_lists.html.twig') }}#}
        {{ include('other/_modals.html.twig') }}
        {{ include('other/_modals_image.html.twig') }}
{#        {{ include('other/_paragraphs.html.twig') }}#}
{#        {{ include('other/_tabs.html.twig') }}#}
    </section>
{% endblock %}
