<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TinyKit!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% block stylesheets %}{% endblock %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body class="preload">
<nav class="navbar bg-primary-fill navbar-sticky box-shadow">
    <div class="navbar-header">
        <a href="{{ url('app_main') }}" class="ms-1 fs-5 no-underline">TinyKit</a>
        <div class="navbar-burger" data-action="toggle-sidebar" data-target="#menu-principal" data-animated="true">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</nav>

<aside id="menu-principal" data-position="start" data-mode="push">
    <div class="aside-header">
        <span data-action="close-sidebar" data-target="#menu-principal" class="cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"></path>
            <path d="M9 9l6 6m0 -6l-6 6"></path>
            </svg>
        </span>
        <h5>TinyKit</h5>
    </div>

    <div class="aside-body">

        <div class="wrapper-dropdown my-half">
            <button type="button" class="btn-dropdown btn-primary" data-action="toggle-dropdown"
                    data-target="#dropdown-layout">
                Layout
                <span data-arrow="down"></span>
            </button>
            <div id="dropdown-layout" class="dropdown-push">

                <ul>
                    <li><a href="{{ url('app_layout') }}#container-section" class="nav-link">Containers</a></li>
                    <li><a href="{{ url('app_layout') }}#columns-section" class="nav-link">Columns</a></li>
                    <li><a href="{{ url('app_layout') }}#flexbox-section" class="nav-link">Flexbox</a></li>
                    <li><a href="{{ url('app_layout') }}#grid-section" class="nav-link">Grid</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper-dropdown my-half">
            <button type="button" class="btn-dropdown btn-primary" data-action="toggle-dropdown"
                    data-target="#dropdown-content">
                Content
                <span data-arrow="down"></span>
            </button>
            <div id="dropdown-content" class="dropdown-push">
                <ul>
                    <li><a href="{{ url('app_content') }}#display-section" class="nav-link">Display</a></li>
                    <li><a href="{{ url('app_content') }}#font-size-section" class="nav-link">Font size</a></li>
                    <li><a href="{{ url('app_content') }}#font-weight-section" class="nav-link">Font weight</a></li>
                    <li><a href="{{ url('app_content') }}#img-section" class="nav-link">Image</a></li>
                    <li><a href="{{ url('app_content') }}#table-section" class="nav-link">Table</a></li>
                    <li><a href="{{ url('app_content') }}#title-section" class="nav-link">Title</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper-dropdown my-half">
            <button type="button" class="btn-dropdown btn-primary" data-action="toggle-dropdown"
                    data-target="#dropdown-form">
                Form
                <span data-arrow="down"></span>
            </button>
            <div id="dropdown-form" class="dropdown-push">
                <ul>
                    <li><a href="{{ url('app_form') }}#form-section" class="nav-link">Form input</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper-dropdown my-half">
            <button type="button" class="btn-dropdown btn-primary" data-action="toggle-dropdown"
                    data-target="#dropdown-component">
                Component
                <span data-arrow="down"></span>
            </button>
            <div id="dropdown-component" class="dropdown-push">
                <ul>
                    <li><a href="{{ url('app_component') }}#dropdown-section" class="nav-link">Dropdown</a></li>
                </ul>
            </div>
        </div>

        <div class="wrapper-dropdown my-half">
            <button type="button" class="btn-dropdown btn-primary" data-action="toggle-dropdown"
                    data-target="#dropdown-other">
                Other
                <span data-arrow="down"></span>
            </button>
            <div id="dropdown-other" class="dropdown-push">
                <ul>
                    <li><a href="{{ url('app_other') }}#other-section" class="nav-link">Other</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>
{% block body %}{% endblock %}
</body>
</html>
